$default-font-color: #000;
$font-white: #F0FCFC;
$font-black: #262727;
$nav-bar-color: #A4C3E9;
$nav-side-color: #063C7E;


* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}