#canvas1 {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 100px;
    width: 100vw;
    height: 100vh;
    background: radial-gradient("rgba(0, 188, 212, 0.12)", "rgba(0, 57, 212, 0.12)");
    z-index: -1;
}

#canvas1.active {
    padding-left: calc(70px + 10vw);
    transition: 400ms;
}