#project-title {
    padding-top: 4rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

#project-container {
    margin-left: 10%;
    margin-right: 10%;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    ul li {
        display: flex;
        // justify-content: center;
        margin: 2rem;    
        text-decoration: none;
        text-align: center;

        img {
            border-radius: 1rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            height: 16rem;
            width: 12rem;
            transition: 400ms;
        }

        img:hover {
            transform: scale(1.05);
        }

        p {
            max-width: 30ch;
        }
    }
}

#project-container.active {
    padding-left: 250px;
    transition: 400ms;
}