#navbar {
    color: #f5f5f5;
    background-color: #333B3B;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    font-weight: bold;
    text-decoration: none;

    #other-nav {
        padding-left: 60%;
        list-style: none;
        display: flex;
        justify-content: space-between;

        li {
            display: inline-block;
            padding-right: 2.7em;
            // margin-left: 1rem;
            font-weight: bold;
            transition: 400ms;

            a:visited {
                color: #f5f5f5;
            }
        }

        li:hover {
            transform: scale(1.2);
        }

    }

    button {
        font-size: 1.1em;
        color: #f5f5f5;
        background-color: #333B3B;
        border: none;
    }
    
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    color: #FFF;
    transition: 400ms;
    
}

.menu-bars:hover {
    transform: scale(1.2);
}

#nav-menu {
    background-color: #181B1B;
    width: 250px;
    height: 100vh;
    // display: flex;
    // justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;

    img {
        width: 52%;
        height: 20%;
        margin-left: 24%;
        margin-top: 18%;
    }
}

#nav-menu.active {
    left: 0;
    transition: 600ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    list-style: none;
    height: 50px;
    padding: 1rem;
    background-color: #181B1B;
    border: none;
    color: #f5f5f5;
    font-size: 1.1em;
}

.nav-text:hover {
    background-color: rgba(144, 144, 144, 0.219);
    cursor: pointer;
}

.nav-menu-items {
    width: 100%;
}

.nav-icon {
    padding-right: 1rem;
    color: #909090;
}

#navbar-toggle {
    background-color: #212121;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo a{
    padding-left: 1rem;
    color: #fff;
}

#nav-toggle a {
    text-decoration: none;
}

.nav-section {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    i {
        padding-left: -3rem;
        width: 4.5rem;
        text-align: center;
    }
}

header {
    transition: 500ms;
}
