#skill-title {
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

#skillset-container {
    margin-left: 10%;
    margin-right: 10%;
    z-index: 0;

    ul {   
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    ul div {
        position: relative;
        min-width: 30px;
        width: 20em;
        margin-bottom: 1em;
        margin-right: 2em;
        background-color: #d8f5f5;
        border-radius: 5px;
        transition: 500ms;

        .skill-bar {
            display: block;
            border-radius: 5px;
            height: 25px;

            &.python { width: 80%; background-color: #1a5050; }
            &.java { width: 60%; background-color: #1a5050; }
            &.c { width: 55%; background-color: #1a5050; }
            &.js { width: 55%; background-color: #1a5050; }
            &.html { width: 50%; background-color: #1a5050; }
            &.matlab { width: 40%; background-color: #1a5050; }
        }

        .skill-text {
            position: absolute;
            top: 2px;
            left: 10px;
            color:white;
        }

        .skill-percentage {
            position: absolute;
            top: 2px;
            right: 10px;
            color:rgb(160, 200, 212);
        }
    }

    ul div:hover {
        transform: scale(1.1);
    }
    
}

#skillset-container.active {
    padding-left: 250px;
    transition: 400ms;
}