#skill-title {
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: $font-black;
}

#skillset-container {
    margin-left: 10%;
    margin-right: 10%;
    z-index: 0;
}

.skills-category {
    margin-bottom: 2rem;
}

.skills-category h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $font-black;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.skill-item {
    background-color: #eaf7f7;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: transform 300ms;
}

.skill-item:hover {
    transform: scale(1.05);
}

#skillset-container.active {
    padding-left: calc(70px + 10vw);
    transition: 400ms;
}